*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --primaryColor: #dc3545;
  --black: rgba(0, 0, 0, 0.7);
  --black2: #333;
  --yellow: #e6af4b;
  --blue: #e7f3ff;
  --mainColor:#f57224;
  --whiteColor:#fff;
  --lightDark:#222;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: var(--black);
  background-color: var(--whiteColor);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.nav{
  width: 100%;
  padding:1.6rem 8rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background: #e7f3ff;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left a{
  font-size:21px;
  font-family: 'Poppins',sans-serif ;
  font-weight: 700;
  color: var(--mainColor);
}

.nav-item{
  padding: 0 1rem;
}

.shoppingCart{
  padding-right: 0.7rem;
  display: inline-block;
  font-size: 20px;
  color: var(--black);
}
.count{
  display: inline-block;
  font-size: 13px;
  padding: 0.4rem 1rem;
  text-align: center;
  border-radius: 50px;
  background: var(--mainColor);
  color: white;
}

/*Banner Image*/

.bannerImg{
  background-image: url("./assets/Images/Banner.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
  margin-top: 6rem;
  position: relative;

}

.BannerOverlay{
  background: rgba(0,0,0,.3);
  width: 100%;
  height: 100%;
  position: absolute;

}




.BannerText{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%,-50%);
}

.BannerText h1{
  font-size: 28px;
  font-family: 'Lato',sans-serif;
  font-weight: 600;
  color: white;
  text-align: center;
}

.BannerText p{
  font-size: 16px;
  font-family: 'Raleway',sans-serif;
  font-weight: 500;
  color: white;
  text-align: center;

}


/*Product Styles*/

.container{

  padding: 4rem 8rem;
}

.products{
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2rem;
  width: 100%;
}

.product{
  width: 100%;
  padding: 0 12px;
  overflow: hidden;
  position: relative;

}

.product-image{
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.product-image img{
  width: 100%;
  height: 200px;
}

.product-details{
  padding: 15px 10px;
  text-align: center;
  background: var(--whiteColor);
}

.product-name{
  font-size: 18px;
  font-weight: 500;
  margin: 12px 0;
}

.product-price{
  font-size: 20px;
  font-weight: 500;
  margin: 12px 0;
}

.add-to-cart{
  background: var(--mainColor);
  padding: 8px 20px;
  width: 100%;
  color: var(--whiteColor);
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}


.hot{
  position: absolute;
  top: 0;
  left: 12px;
  padding: 4px 15px;
  background: deeppink;
  color: white;
}

.new{
  position: absolute;
  top: 0;
  left: 12px;
  padding: 4px 15px;
  background: green;
  color: white;
}

.styleImage{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 70vh;
  background: #e7f3ff;
}


.noImage{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 60%;
}

.NoImageTitle{
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  color: deeppink;
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.cart-container{
  width: 100%;
  margin-top: 10px;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cart-details{
  width: 75%;
  border: 1px solid #fafafa;
  border-radius: 5px;

}

.cart{
  display: flex;
  align-items: center;
  background: white;
  padding: 15px 20px;
}

.cart-image{
  display: inline-block ;
  width: 80px;
  height: 70px;
}

.cart-image img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.cart-product-name{
  display: inline-block;
  width: 150px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 14px;
}

.cart-product-price{
  display: inline-block;
  width: 120px;
  padding: 0 15px;
  text-align: center;
  font-weight: bold;
  color: var(--mainColor);
}

.inc{
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border:1px solid var(--mainColor);
  font-size: 14px;
  color: var(--mainColor);
  border-radius: 50%;
  cursor: pointer;
}

.product-quantity{
  display: inline-block;
  padding: 0 15px;
  font-size: 15px;
  width: 70px;
  text-align: center;
}

.dec{
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border:1px solid var(--primaryColor);
  font-size: 14px;
  color: var(--primaryColor);
  border-radius: 50%;
  cursor: pointer;
}

.product-total-price{
  display: inline-block;
  width: 170px;
  padding: 0 15px;
  text-align: center;
}

.delete-product {
  border: none;
  color: rgb(187, 58, 58);
  cursor: pointer;
  font-size: 20px;
}



/*Cart Summary*/

.cart-summary{
  width: 25%;
  padding: 30px 0 0 10px;
  margin-top: 100px;
}

.summary{
  background: var(--whiteColor);
  padding: 13px;
}

.summary h3{
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid green;
  margin-bottom: 20px;
}

.total-items{
  display: flex;
  margin: 15px 0;
}

.items{
  width: 50%;
  text-align: left;
  font-weight: normal;
}

.items-count{
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: var(--mainColor);
}

.total-price-section{
  display: flex;
  margin: 15px 0;
}

.just-title{
  width: 50%;
  text-align: left;
  font-width: normal;
}

.items-price{
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: var(--mainColor);
}


/*Media Query*/


@media (max-width: 1200px) {
  .products{
    grid-template-columns: repeat(3,1fr);
  }

  .container{
    padding: 6rem 6rem;
  }

}



@media (max-width: 900px) {
  .products{
    grid-template-columns: repeat(2,1fr);

  }

  .container{
    padding: 6rem 8rem;
  }

  .product-image{
    height: 250px;
  }

  .product-image img{
    height: 250px;
  }

  .nav{
    padding:1.6rem 6rem;
  }

}

@media (max-width: 800px) {

  .nav{
    padding:1.6rem 5rem;
  }

  .container{
    padding: 6rem 6rem;
  }

  .product-image{
    height: 200px;
  }

  .product-image img{
    height: 200px;
  }

}


@media (max-width: 650px) {

  .nav{
    padding:1.6rem 4rem;
  }

  .container{
    padding: 6rem 4rem;
  }

}


@media (max-width: 550px) {

  .container{
    padding: 6rem 6rem;
  }
  .products{
    grid-template-columns: 1fr;

  }
  .product-image{
    height: 250px;
  }
  .product-image img{
    height: 250px;
  }
}

@media (max-width: 500px) {

  .container{
    padding: 6rem 4rem;
  }

  .product-image{
    height: 200px;
  }
  .product-image img{
    height: 200px;
  }
}


@media (max-width: 440px) {

  .nav{
    padding:1.6rem 2rem;
  }

  .container{
    padding: 6rem 2rem;
  }

}






















